.brand-logo {
  display: block;
}
.navbar-default{
  background-color: #ad1d28;
  border-color: #911821;
}

.navbar-brand {
  font-family: 'Lobster Two', cursive;
  font-size: 22px;
  line-height: 20px;
  display: contents;
  cursor: pointer;
}

.link-size a{
  font-size: 16px;
}

.material-icons{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: text-top;
}

.dropdown-visible {
  display: none;
}


@media (max-width: 600px){
  .brand-logo {
    display: none;
  }
  .about-nodropdown{
    display: none;
  }
  .dropdown-visible {
    display: block;
  }
}
