<div>
  <h1 class="header-line">About Loc8r</h1>
  <div class="row">
    <div class="col s12 m8 l6">
<!--    <div class="col s12 m8 l6 offset-m4 offset-l6">-->
      <p> Find places to work with wifi near you!</p>
      <p> This is a test about page </p>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda fugit harum illo ipsa iste, porro quibusdam sapiente tempore ut? Adipisci at atque eaque iusto labore quas rerum sapiente ullam.</p>
    </div>
  </div>


</div>
